2.1 class obj

In [2]:
getwd()

[1] "/home/pandey/HW-Applied-Bioinformatics/Class-Applied-Bioinformatics/Applied-Bioinformatics/Unit1-module2-R"

In [4]:
my.vector <- c("CA", "LA", "AZ", "TN", "GA")
print(my.vector)

[1] "CA" "LA" "AZ" "TN" "GA"

In [5]:
my.matrix <- matrix(1:100, nrow=10, ncol=10)
my.matrix

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  1   11   21   31   41   51   61   71   81    91
 [2,]  2   12   22   32   42   52   62   72   82    92
 [3,]  3   13   23   33   43   53   63   73   83    93
 [4,]  4   14   24   34   44   54   64   74   84    94
 [5,]  5   15   25   35   45   55   65   75   85    95
 [6,]  6   16   26   36   46   56   66   76   86    96
 [7,]  7   17   27   37   47   57   67   77   87    97
 [8,]  8   18   28   38   48   58   68   78   88    98
 [9,]  9   19   29   39   49   59   69   79   89    99
[10,] 10   20   30   40   50   60   70   80   90   100

In [1]:
my.matrix <- matrix(1:100, byrow=TRUE, nrow=10, ncol=10) #numbers by row rather than column
my.matrix

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  1    2    3    4    5    6    7    8    9    10
 [2,] 11   12   13   14   15   16   17   18   19    20
 [3,] 21   22   23   24   25   26   27   28   29    30
 [4,] 31   32   33   34   35   36   37   38   39    40
 [5,] 41   42   43   44   45   46   47   48   49    50
 [6,] 51   52   53   54   55   56   57   58   59    60
 [7,] 61   62   63   64   65   66   67   68   69    70
 [8,] 71   72   73   74   75   76   77   78   79    80
 [9,] 81   82   83   84   85   86   87   88   89    90
[10,] 91   92   93   94   95   96   97   98   99   100

In [11]:
animal.name <- c("Fluf1","Fluf2","Fluf3","Fluf4","Fluf5","Fluf6","Fluf 7","Fluf8")
animal.number <- c(7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110)
animal.weight <- c(19, 18, 23, 22, 17, 18, 21,20)
animal.treated <- c(TRUE, TRUE, FALSE, FALSE, TRUE, FALSE, TRUE, FALSE)
animal.gender <- c("F","F","M","M","F","F","M","M")
df.animal <- data.frame(animal.name, animal.number, animal.weight, animal.treated, animal.gender)
df.animal
gender <- c(rep("M",4), rep("F",4))
gender <- factor(gender)
summary(gender)

  animal.name animal.number animal.weight animal.treated animal.gender
1 Fluf1       7103          19             TRUE          F
2 Fluf2       7104          18             TRUE          F
3 Fluf3       7105          23            FALSE          M
4 Fluf4       7106          22            FALSE          M
5 Fluf5       7107          17             TRUE          F
6 Fluf6       7108          18            FALSE          F
7 Fluf 7      7109          21             TRUE          M
8 Fluf8       7110          20            FALSE          M

F M
4 4

2.2 class obj

In [10]:
number.vector <- c(1:6)
print(number.vector)

alpha.vector <- c("a","b","c","d","e")
print(alpha.vector)

sapply(alpha.vector, toupper)

[1] 1 2 3 4 5 6
[1] "a" "b" "c" "d" "e"

  a   b   c   d   e
"A" "B" "C" "D" "E"

In [18]:
new.vector <- c(number.vector,alpha.vector)
new.vector
class(new.vector) #what data structure is contained in this vector

 [1] "1" "2" "3" "4" "5" "6" "a" "b" "c" "d" "e"

[1] "character"

2.  Use a while loop to print out all the numbers that can be divided by 3 from 1 to 100 and count how many of them exist.

In [20]:
i <- 1
while (i <= 100) {
    if(i%%3==0)
    print(i)
    i <- i+1
}

[1] 3
[1] 6
[1] 9
[1] 12
[1] 15
[1] 18
[1] 21
[1] 24
[1] 27
[1] 30
[1] 33
[1] 36
[1] 39
[1] 42
[1] 45
[1] 48
[1] 51
[1] 54
[1] 57
[1] 60
[1] 63
[1] 66
[1] 69
[1] 72
[1] 75
[1] 78
[1] 81
[1] 84
[1] 87
[1] 90
[1] 93
[1] 96
[1] 99

3. is Nutella over, under or properly fed

In [ ]:
food.weight <- c(7,3,5,6,10,5,6)
food.enough <- logical(length=length(food.weight))
food enough

for i in c(l:lenght(food.weight)))